@CHARSET "UTF-8";

.taxonomy-checkbox-group-col {
    display: block;
    float: left;
    padding-left: 1em;
}

.pratica-item-label, .pratica-item {
    display: block;
    float: left;
    width: 100%;
}

