@CHARSET "UTF-8";

.taxonomy-checkbox-group-col {
    display: block;
    float: left;
    padding-left: 1em;
}

.pratica-item-label, .pratica-item {
    display: block;
    float: left;
    width: 100%;
    margin-top: 1em;
}

.taxonomy-label-group-col-input {
	display: block;
    float: left;
}

input[type="text"].taxonomy-checkbox-text  {
	display: block;
    float: left;
    width: 80%;
    padding: 0.3em 0.4em 0.1em;
}


.login-entry .container {
    max-width: 600px;
}

.login-entry {
	background-color: #dcd800;
}

.login-username label,.login-password label {
    font-weight: bold;
}

.login-entry .login-remember {
    display: block;
    float: left;
    margin-left: 60%;
    margin-top: 0.6em;
}

.login-entry .login-submit {
    display: block;
    float: right;
}

.login-entry .sections-advise,.home-entry .sections-advise{
    font-size: 0.65em;
    text-align: center;
    padding: 0 1em;
}

.login-entry .sections-description,.home-entry .sections-description {
    color: #501651;
    font-weight: bold;
    text-align: center;
}

.login-register {
    display: block;
    margin-top: 9px;
    position: absolute;
    width: 130px;
}

.login-register > a {
    color: #805783;
}

.login-register > a:HOVER {
    color: #2f2d44;
}

.nova-pratica .container {
    max-width: 1080px;
}

.home-entry.nova-pratica {
    background-color: #dcd800;
}

.pratica-item-title {
    font-weight: bold;
    padding-left: 0.5em;
}

.pratica-item-tip-text {
    font-size: 0.8em;
    padding-left: 0.7em;
}

.pratica-item-input-text {
    border-radius: 12px;
}

h2.new-pratica {
    font-size: 1.2em;
    text-align: center;
    color: #501651;
}

.dropdown-estado,
.dropdown-cidade,
.pratica-item-input-dropdown {
   display: block;
   float: left;
   overflow: hidden;
   background: url(../../../images/new_arrow.png) no-repeat right #faba09;
   width: 25%;
   border-radius: 15px;
}

.dropdown-estado select,
.dropdown-cidade select,
.pratica-item-input-dropdown select {
   background: transparent;
   padding: 0.5em;
   border: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 100%;
}

div.dropdown-cidade {
    margin-left: 2em;
}

.pratica-item-checkbox {
    /*background-color: #bab700;*/
}

ul.parent, div.pratica-item-input-radio-block {
    background-color: #faba09;
    display: block;
    float: left;
    margin-top: 0;
    padding: 0.25em 1em 0.25em 0;
    border-radius: 20px;
}

.pratica-item-input-radio {
    margin-left: 0.5em;
    margin-right: 1em;
}

.pratica-item-input-radio-block > input {
    margin-left: 1.25em;
}
